Receive_messages_from_a_topic_via_Kafka_and_send_an_SMS.json
{
  "name": "Receive messages from a topic via Kafka and send an SMS",
  "nodes": [
    {
      "parameters": {
        "topic": "topic_test",
        "groupId": "n8n",
        "options": {
          "jsonParseMessage": true
        }
      },
      "name": "Kafka Trigger",
      "type": "n8n-nodes-base.kafkaTrigger",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "id": "379225f6-0e6e-43ac-a143-c777ad2a2041",
      "alwaysOutputData": false,
      "credentials": {
        "kafka": {
          "id": "1",
          "name": "Kafka account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Kafka Trigger\"].json[\"message\"][\"temp\"]}}",
              "operation": "larger",
              "value2": 50
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        580,
        240
      ],
      "typeVersion": 1,
      "id": "5f0c8151-2ff8-461a-8a94-9e7c9e5c6876"
    },
    {
      "parameters": {
        "from": "Vonage APIs",
        "to": "+5587999380279",
        "message": "=Alert!\nThe value of temp is {{$node[\"Kafka Trigger\"].json[\"message\"][\"temp\"]}}.",
        "additionalFields": {}
      },
      "name": "Vonage",
      "type": "n8n-nodes-base.vonage",
      "position": [
        780,
        140
      ],
      "typeVersion": 1,
      "id": "b7fb3fdd-f6c9-4eb5-81ab-42a0aef5a3c8",
      "credentials": {
        "vonageApi": {
          "id": "3",
          "name": "Vonage account"
        }
      }
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "position": [
        780,
        340
      ],
      "typeVersion": 1,
      "id": "c689f517-2734-41a5-a282-763262e64b7d"
    }
  ],
  "pinData": {},
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Vonage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kafka Trigger": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "8b508b75-65e0-45da-a486-3f10f9f87213",
  "id": "3",
  "meta": {
    "instanceId": "13a180c37185001073d4f0cf1d71991d73ae153804eea46071fb4db3b9931104"
  },
  "tags": []
}